<%- include('partials/header') %>
<div class="box" id="heading">
  <h1>Enter prices and min quantity for the items you want to sell  </h1>
</div>

<div class="">


<form action="" method="POST" >

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Item Name</th>
                <th scope="col">Price</th>
                <th scope="col">Min Quantity</th>

            </tr>
            <tbody id="tBodyItemList">
                <% itemList.forEach( (item, index) => { %>
                   <tr>
                        <th scope="row"><%= index+1 %></th>
                        <td><%= item.name  %></td>

                        <td><input type="number"  id="price_<%=  item._id %>"     class="form-control" name="price" value=<%= item.price  %> /></td>

                        <td><input type="number" id="minQty_<%= item._id %>" class="form-control" name="minQuantity" value=<%= item.minQty  %> /></td>

                    </tr>
                <% }) %>
            </tbody>

        </thead>
    </table>
    <button id="btn" class="btn btn-dark">Submit</button>
</form>
</div>
<%- include('partials/footer') %>
