<%- include("partials/header") -%>
<h1>Dear <%=customerName%> , your order has been successfully placed with <%=farmer.username%></h1>
<h3>You can get in touch with him on <%=farmer.mobile%></h3>
<%- include("partials/footer") -%>
