<%- include("partials/header") -%>

<h1 style="text-align="center">Welcome to your shop <%=farmerName%></h1>
<!-- <a class="btn btn-dark btn-lg" href="/createShop" role="button">Create your Shop</a> -->
<a class="btn btn-dark btn-lg" href="/orders/<%=farmerName%>" role="button" > View Orders </a>
<a class="btn btn-dark btn-lg" href="/reset/<%=farmerName%>" role="button" > Reset Selling Items </a>
<h2 class="alignCenter">Enter prices and min quantity for the items you want to sell  </h2>
<div class="">
<form action="/saveFarmerItemList" method="POST" onsubmit="return validateItem()">
  <input type="hidden" id="data" name="data" value="">
  <input type="hidden" id="farmerName" name="farmerName" value="<%=farmerName%>">
<%=listExist%>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Item Name</th>
                <th scope="col">Price</th>
                <th scope="col">Min Quantity</th>

            </tr>
            <tbody id="tBodyItemList">
              <%if (!listExist) { %>
              <% itemList.forEach( (item, index) => { %>
                 <tr id=<%=  item._id %>>
                      <td scope="row"><%= index+1 %></td>

                      <td><input type="text" class="form-control" name="itemName" value="<%= item.name  %>"  readonly/></td>

                      <td><input type="number"       class="form-control" name="price" value="0" /></td>

                      <td><input type="number" class="form-control" name="minQuantity"   value="0" /></td>

                  </tr>
              <% }) %>

              <% } else {%>


                <% itemList.forEach( (item, index) => { %>
                   <tr id=<%=  item.itemId %>>
                        <td scope="row"><%= index+1 %></td>

                        <td><input type="text" class="form-control" name="itemName" value="<%= item.itemName  %>"  readonly/></td>

                        <td><input type="number"       class="form-control" name="price" value="<%= item.price  %>" readonly/></td>

                        <td><input type="number" class="form-control" name="minQuantity"   value="<%= item.minQty  %>" readonly/></td>

                    </tr>
                <% }) %>
                <% } %>
            </tbody>

        </thead>
    </table>

      <%if (!listExist) { %>
    <button id="btn"  class="btn btn-dark">Submit</button>
    <%}%>
</form>
</div>

  <%- include("partials/footer") -%>
